/* style.css */

/* make scrollbar transparent */
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.container {
  /* IE 10+ */
  -ms-overflow-style: none;

  /* Firefox */
  scrollbar-width: none;
}

.container::-webkit-scrollbar {
  /* Safari and Chrome */
  display: none;
}

/* Chat bot container */
#chatbot {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
  background-color: #f5f5f5;
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Chat messages */
.botText,
.userText {
  margin-bottom: 10px;
}

.botText {
  color: #333;
  font-size: 14px;
}

.userText {
  color: #007bff;
  font-size: 14px;
  text-align: right;
}

/* User input section */
#userInput {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

#textInput {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  color: black;
  font-weight: 600;
}

h1 {
  text-align: center;
  margin-top: 50px;
  color: #333;
}

/* Loading dots animation */
.chat_init:after {
  content: " .";
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: black;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 black, 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%,
  100% {
    text-shadow: 0.25em 0 0 black, 0.5em 0 0 black;
  }
}
